# **Data Science Tools and Ecosystem**

### *In this notebook, Data Science Tools and Ecosystem are summarized.*

##### Some of the popular languages that Data Scientists use are:
1. *Python*
2. *R*
3. *SQL*
4. *Java*
5. *Julia*
6. *Scala*
7. *C/C++*
8. *JavaScript*

##### Some of the commonly used libraries used by Data Scientists include:
1. *Pandas*
2. *TensorFlow*
3. *Matplotlib*
4. *Numpy*
5. *Scikit-learn*
6. *Scipy*
7. *PyTorch*
8. *Keras*
9. *Seaborn*
10. *MATLAB*
11. *Ggplot2*
12. *Dplyr*

| **Data Science Tools**|
|-----------------------|
|*Apache Spark*|
|*Jupyter Notebook*|
|*R Studio*|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries

## Author
Muhasin